# Python
*.pyc
__pycache__/
**/__pycache__/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media

# Ignore local settings
local_settings.py

# Ignore virtual environment
venv/
env/
.env

# Ignore pytest cache
.pytest_cache/

# Coverage
/.coverage

# Ignore IDE specific files
.vscode/
.idea/

# Ignore migrations (if you decide to)
# Uncomment the following line if you want to ignore migrations
#*/migrations/*.py
#!*/migrations/__init__.py

# Ignore possibly created audio files
audio*
test_audio*

run_import_projects.sh
